{% extends 'adminPanel.html.twig' %}



{% block body %}
<div class="container mt-5">
    <div class="card bg-dark text-white">
        <div class="card-body">
            <form action="" method="POST">
                <label for="" class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" name="pw">
                <button type="submit" class="btn btn-primary mt-3">Valider</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}