
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nous contacter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    <span><i class="fa-solid fa-at text-primary"></i></span> empire-dagnet@rockfoulk.fr
                </p>
                <p>
                    <span><i class="fa-solid fa-phone"></i></span> <a href="tel:0000000000">06 34 90 94 24</a>
                </p>
            </div>

        </div>
    </div>
</div>